*.o
Debug/
Release/
*.filters
*.user
CMakeFiles/
CMakeCache.txt
*.smproj
Makefile
doc/build/
doc/xml/
*.gcov
*.idb
*.ipch
*.lastbuildstate
*.log
*.obj
*.opensdf
*.pdb
*.sdf
*.sln
*.suo
*.tlog
*.unsuccessfulbuild
*.vcxproj